// Variables

// Color System
$white: #fff !default;
$black: #000 !default;

$magenta:   #FF00FF !default;
$maroon:    #800000 !default;

$colors: (
    "magenta": $magenta,
    "maroon":  $maroon
) !default;

$theme-colors: () !default;

$theme-colors: map-merge(
  (

  ),
  $theme-colors
);